html,body{
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: rgb(15, 15, 15);
    color: rgb(212, 204, 204);
}
body{
    display: flex;
    justify-content: space-between;
}

.izquierdo{
    padding: 5px;
    margin: 15px;
    border: 5px solid #3b47ee;
    box-shadow: 8px 8px 8px #5858d8;
    border-radius: 15px;
    overflow-y: scroll;
}

.lista-temas{
    list-style: none;
    margin: 0;
    padding: 0;
}

.cancion{
    padding: 20px;
    background: #1c1c1f;
    border: 2px solid #44250c;
    border-radius: 12px;
    cursor: pointer;
}

.derecho{
    display: flex;
    padding: 5px;
    margin: 15px;
    border: 5px solid #3b47ee;   
    box-shadow: -15px 15px 15px #5858d8;
    border-radius: 15px;
    align-items: center;
    justify-content: flex-end;
}
.rafa{
    border: 0;
}
h1{
    padding: 5px;
    margin: 15px;
    border: 5px solid #41ee3b;   
    box-shadow: 0px 50px 15px #41ee3b;
    border-radius: 15px;
}

@media (max-width: 600px)  {
    body{
        flex-direction: column;
    }
    .izquierdo{
        flex: 3;
    }
    .derecho{
        flex: 1;
    }
    

}